<div class="bienvenida">
    <div class="text">
        <p>
            Bienvenido a tu <br>
            <strong>
                Entrevista Técnica
            </strong>
            en
            <br>
            <strong class="wolox">
                Wolox
            </strong>
        </p>
    </div>
    <div class="image">
        <img src="../../../assets/Img Hero/Ic_ilustra_Hero@2x.png" alt="">
    </div>
</div>

<div class="follow-us">
    <div class="background">
        <p>
            <strong class="green">350 +</strong> 
            <strong class="blue">Woloxers</strong>
        </p>
        <p>
            <img src="../../../assets/gorjeo.svg" class="logo-twitter" alt="logo-twitter"> @Wolox
        </p>
        <div>
            <button>Siguenos</button>
        </div>
        <!-- <img src="../../../assets/img_woloxer@2x.png" alt="Woloxer"> -->
    </div>
    <div class="text">
        <p>
            Trabajamos para<br><strong class="blue">convertir</strong> <strong class="green">ideas</strong> en<br>productos.
        </p>
    </div>
</div>
<div class="beneficios">
    <p class="intro">Entre los beneficios que ofrecemos se encuentran <strong class="blue">;)</strong></p>
    <section class="benefit-row">
        <div class="flex"></div>
        <div class="home"></div>
        <div class="workshops"></div>
        <div class="snacks"></div>
        <div class="remote"></div>
        <div class="tecnology"></div>
    </section>
</div>