<div class="container">
    <div class="logo">
        <img src="../../../assets/logo_full_color.svg" alt="logi">
        <p>(No funciona)</p>
    </div>
    <div class="login">
        <form action="" method="post" class="form form-login">
            <div class="form-field">
                
                <input id="login-username" type="text" class="form-input" placeholder="Usuario" required>
            </div>
            <div class="form-field">
                <input id="login-password" type="password" class="form-input" placeholder="Contraseña" required>
            </div>
        </form>

    </div>
    <app-button [type]="'LinkBlueText'" [text]="'Entrar'" [navigate]="'list'"></app-button>
    <br>
    <a [routerLink]="[ '/register' ]">Registrar</a>
</div>